* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 230, 230);
  height: 100vh;
}

.container {
  border: 1px solid red;
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: aqua;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact {
  color: rgb(129, 12, 239);
  font-size: 25px;
  margin-bottom: 10px;
}

.addcontact {
  color: rgb(129, 12, 239);
  border: 1px solid red;
  width: 70%;
  margin-bottom: 10px;
  /* padding-left: 20px; */
}

form {
  border: 1px solid black;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

form .field {
  margin-bottom: 10px;
}

form label {
  width: 20%;
  margin-right: 10px;
}

form input {
  width: 80%;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px;

  /* padding-left: 5px; */
}

form button {
  background-color: blue;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  color: white;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.item {
  width: 250px;
  margin: 5px;
  padding: 5px;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.item button {
  background-color: whitesmoke;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.user {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 50%;
}

.user-img {
  width: 20px;
}

.addcontactbtn {
  background-color: blue;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  color: white;
  width: 120px;
  padding: 5px 10px;
  cursor: pointer;
}